---
- name: Install Python and development tools
  apt:
    name:
      - python{{ python_version }}
      - python{{ python_version }}-venv
      - python3-pip
      - python3-dev
      - build-essential
      - libssl-dev
      - libffi-dev
    state: present

- name: Install Python packages
  pip:
    name:
      - pip
      - setuptools
      - wheel
      - virtualenv
      - gunicorn
      - django
      - flask
    state: latest
